@{
    ViewData["Title"] = "Add Loan Page";
}

@model List<Loan>




<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.ActionLink("Edit", "Show", "Loan", new { item.Id }, null)</td>
                <td>@Html.ActionLink("Remove", "Remove", "Loan", new { item.Id }, null)</td>
            </tr>
        }

    </tbody>
</table>
<input type="button" class="btn btn-primary" value="Add Loan" onclick="location.href='@Url.Action("Create", "Loan")'" />