@{
    ViewData["Title"] = "Add Loan Page";
}

@model LoanView

<h3 class="card-title">@Model.Loan.Name</h3>
<p class="card-text">@Model.Loan.Description</p>
<h5 class="card-title">List of Loan actions:</h5>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Giver</th>
                <th scope="col">Taker</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Creating Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Actions)
            {
            <tr>
                <td><a href="@Url.Action("Index", "Account",  new { item.GiverUser.UserName })">@item.GiverUser.UserName</a></td>
                <td><a href="@Url.Action("Index", "Account",  new { item.TakerUser.UserName })">@item.TakerUser.UserName</a></td>
                @if (item.Amount >= 0)
                {
                    <td class="text-danger">@Html.DisplayFor(modelItem => item.Amount)</td>
                }
                else
                {
                    <td class="text-success">@Html.DisplayFor(modelItem => item.Amount)</td>
                }
                <td>@Html.DisplayFor(modelItem => item.Purpose)</td>
                <td>@item.CreatingTime
                    (@Math.Floor((DateTime.Now - item.CreatingTime).TotalDays) days ago)
            </tr>
            }

        </tbody>
    </table>
<input type="button" class="btn btn-primary mt-3" value="Add Action" onclick="location.href='@Url.Action("AddAction", "Loan",  new { Model.Loan.Id })'" />