@model SearchResultViewModel

<p class="h1 fw-bold mb-5 mx-1 md-4 mt-4">Search result for @Model.SearchingFor: @Model.SearchInput</p>


        @if (Model.Found.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Currently loaned</th>
                        <th scope="col">Currently took</th>
                    </tr>
                </thead>
            <tbody>
            @foreach (var contact in Model.Found)
            {
                <tr>
                    <td><a href="@Url.Action("Index", "Account",  new { contact.UserName })">@contact.UserName</a></td>
                    <td>@contact.PhoneNumber</td>
                    <td>@contact.TotalGiver</td>
                    <td>@contact.TotalTaker</td>
                </tr>
            }
            </tbody>
            </table>
        }
        else
        {
            <p>Nothing has been found</p>
        }