@model SearchResultViewModel
@{
    ViewData["Title"] = @LoanApplication.Resources.Resources.SearchResultTitle + Model.SearchInput;
}

<p class="h1 fw-bold mb-5 mx-1 md-4 mt-4">@Model.SearchingFor: @Model.SearchInput</p>


        @if (Model.Found.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">@LoanApplication.Resources.Resources.Username</th>
                        <th scope="col">@LoanApplication.Resources.Resources.PhoneNumber</th>
                        <th scope="col">@LoanApplication.Resources.Resources.CurrentlyLoaned</th>
                        <th scope="col">@LoanApplication.Resources.Resources.CurrentlyTook</th>
                    </tr>
                </thead>
            <tbody>
            @foreach (var contact in Model.Found)
            {
                <tr>
                    <td><a href="@Url.Action("Index", "Account",  new { contact.UserName })">@contact.UserName</a></td>
                    <td>@contact.PhoneNumber</td>
                    <td>@contact.TotalGiver</td>
                    <td>@contact.TotalTaker</td>
                </tr>
            }
            </tbody>
            </table>
        }
        else
        {
            <p>@LoanApplication.Resources.Resources.NothingFound</p>
        }